<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>網址導航 - {{title}}</title>
    <link rel="canonical" href="{{url}}">
    {{#if keywords}}
    <meta name="keywords" content="{{keywords}}">
    {{/if}}
    {{#if description}}
    <meta name="description" content="{{description}}">
    {{/if}}
    {{#if shortcut_icon}}
    <link rel="shortcut icon" href="{{shortcut_icon}}">
    {{/if}}
<link href="https://www.subarist.net/assets/nav-links.css" rel="stylesheet">
<link href="https://www.subarist.net/assets/subarist-link.css" rel="stylesheet" id="subaristLinkStylesheet">
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <!-- FB Open Graph -->
    <meta property="og:type" content="article">
    {{#if url}}
    <meta property="og:url" content="{{url}}">
    {{/if}}
    <meta property="og:title" content="網址導航 - {{title}}">
    {{#if description}}
    <meta property="og:description" content="{{description}}">
    {{/if}}
    {{#if og_img}}
    <meta property="og:image" content="{{og_img}}">
    {{/if}}
    <meta property="og:site_name" content="{{title}}">
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="網址導航 - {{title}}">
    {{#if description}}
    <meta name="twitter:description" content="{{description}}">
    {{/if}}
    {{#if og_img}}
    <meta name="twitter:image" content="{{og_img}}">
    {{/if}}
<style>
@media (min-width:992px) and (max-width:1199.98px){.container{width:992px}}@media (min-width:1200px){.container{max-width:1200px}}@media (max-width:992px){input#gsc-i-id2{margin-left:28px!important}button#switchStyleButton{margin-top:15px;margin-left:-3px}.page-container .main-content,.page-container .sidebar-menu{display:block;width:100%;height:auto}div#gsc-iw-id2{height:40px!important;padding-top:1px!important}a.nav-link.mobile-back{display:block!important}.gsc-tabsArea{margin-top:20px!important}.search-icon,div#___gcse_0,div#___gcse_1{display:none}.gsc-control-cse{margin-bottom:-30px!important;margin-top:-10px!important;margin-left:-30px!important;margin-right:-30px!important}table.gsc-search-box{width:95%!important;margin:0 auto}.gsc-results .gsc-cursor-box{font-size:14px!important}.gsc-results .gsc-cursor-box{border:1px solid #38444d!important;font-size:15px;border-radius:12px!important}.gsc-control-wrapper-cse{width:95%!important;margin:0 auto}.gsc-input-box{padding-top:4px!important;padding-bottom:3px!important}.gsc-search-button-v2{padding:12px 11px!important;margin-left:-1px!important}.col-sm-5{margin-top:15px;padding-left:10px;padding-right:10px}.overlay{display:none;position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(13,19,26,.9);z-index:998;opacity:0;transition:opacity .2s}.overlay.active{display:block;opacity:.9}img.Header-logo{margin-top:-39px;margin-left:44px}a#navbarDropdown{margin-bottom:15px}nav.navbar{padding:0;height:46px;margin:0 auto}.navbar-dark .navbar-toggler{border:none;position:relative;top:-5px;left:2px}.overflowClip_2{-webkit-line-clamp:2}.box2{height:125px!important}.row{margin-left:-20px;margin-right:-20px}.nav-item{margin-top:3px}.dropdown-menu li{margin-top:5px;margin-left:15px}.mr-auto,.mx-auto{margin-left:-15px}.navbar-collapse{position:fixed;top:0;left:0;padding-left:20px;padding-right:20px;width:270px;height:100%;box-shadow:0 2px 6px rgb(0 0 0 / 50%);padding-top:25px;font-size:15px;z-index:999}.navbar-collapse.collapsing{left:-75%;transition:height 0s ease}.navbar-collapse.show{left:0;transition:left 150ms ease-in-out}.navbar-toggler.collapsed~.navbar-collapse{transition:transform .2s;transform:translateX(calc(-6px - 270px))}.footer-table{display:none}.flex-2{flex-basis:35%;flex-grow:1;flex-shrink:1;font-size:14px}.footer-mobile{width:97%;margin:auto}img.Header-logo{height:29px;margin-top:-38px;margin-left:45px}.bloq{flex-direction:column;--bs-gutter-x:-1rem!important}.gsc-webResult.gsc-result{border-bottom:1px solid #38444d!important;margin-bottom:0!important;padding:8px 0!important}}@media (min-width:992px){nav.navbar{padding:8px;height:52px;margin:0 auto}.gsc-input-box{width:230px;position:relative;right:20px;top:2px;transition:border-color .15s,right .4s,width .4s!important}.gsc-input-box:focus-within{background:#15202b;border-color:#1d9bf0;width:400px!important;right:20px!important;transition:border-color .15s,width .4s,right .4s!important}.col-sm-5{flex:0 0 49%;max-width:49%;margin: 10px 0;font-weight:700}.gsc-tabsArea{margin-top:30px!important}.gsc-search-button-v2{font-size:0!important;padding:6px 20px!important;display:none}.gsc-results .gsc-cursor-box{border:none!important;font-size:16px}.dropdown{display:none}.mobile-add{display:none}.mobile-title{display:none}.nav-item{font-weight:600;font-size:15px}div#___gcse_2{display:none}.main-content{padding:0 60px 0 0!important}img.Header-logo{height:29px;margin-top:-10px;margin-left:2px}.overflowClip_2{-webkit-line-clamp:3;margin-bottom:2px!important}.gsc-table-result{font-family:system-ui,Arial,sans-serif!important;font-size:14px!important}.gsc-webResult .gsc-result{border-bottom:1px solid #38444d!important;padding:15px 10px!important}}button#switchStyleButton{background:0 0;border:none;color:#ebebeb;margin-right:30px;font-size:15px}.gsc-control-cse{font-family:system-ui,Arial,sans-serif!important}.gsc-above-wrapper-area{border-bottom:1px solid #38444d!important}.gsc-cursor-chevron{margin:-3px 16px -1px!important}.gsc-results .gsc-cursor{color:#ebebeb!important;fill:#ebebeb!important}.gsc-tabsArea{border:none!important}.gs-spelling{color:#6495ed!important}.gcsc-more-maybe-branding-box{border:none!important;padding:5px!important;font-size:14px!important}.gsc-tabHeader{font-size:14px!important}.search-icon{position:absolute;right:340px;top:15px}i.icon.fa-solid.fa-link.mobile-icon{margin-left:18px;margin-right:9px;margin-top:7px}i#navbarDropdown{font-style:normal}.mobile-title{text-align:center;width:100%;font-size:16px;margin-top:-55px}.sidebar-menu .logo-env .logo{margin-bottom:5px;margin-left:13px;margin-top:-24px}.sidebar-menu .main-menu a{font-size:15px;padding:12px 40px 12px 5px;border-bottom:none}.box2{height:135px}.scroll-top{right:18px;position:fixed;bottom:105px;z-index:99;outline:0;background-color:rgba(0,0,0,.5)!important;border:1px solid transparent;cursor:pointer;border-radius:12px;text-decoration:none;width:40px;height:40px;opacity:.4;font-size:16px;color:#ddd;display:none}.scroll-bottom{right:18px;position:fixed;bottom:60px;z-index:99;outline:0;background-color:rgba(0,0,0,.5)!important;border:1px solid transparent;cursor:pointer;border-radius:12px;text-decoration:none;width:40px;height:40px;opacity:.4;font-size:16px;color:#ddd;display:none}.sidebar-menu.fixed .sidebar-menu-inner{left:auto;position:sticky;margin-left:3px}body{font-family:system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Ubuntu,Cantarell,Oxygen,Roboto,Helvetica,Arial,sans-serif;line-height:1.55;margin:30px auto 0 auto;font-size:14px}.overflowClip_1{margin-bottom:2px}.h4,.h5,.h6,h4,h5,h6{margin-top:10px;margin-bottom:5px}.fade{display:none!important}.xe-comment{margin-left:60px}.img-circle{border-radius:50%;height:45px;width:45px;padding:0 0;margin-top:5px}.btn{font-size:15px}.mobile-icon{width:15px;display:inline-flex;justify-content:center;margin-right:7px}.dropdown-menu>li>a>i{margin-right:5px;display:inline-flex;justify-content:center;width:15px;margin:8px}.dropdown-menu{background:0 0;border:none;margin-top:-5px;padding-left:15px;font-size:14px}button:focus{outline:0}.container{padding:8px}.form-control{background:0 0;border-radius:12px}.page-container{max-width:1300px;margin:0 auto}.sidebar-menu.fixed .sidebar-menu-inner{position:sticky}button-scroll{padding:7px;text-align:center}img.mobile-logo{height:35px;margin-top:1px;margin-left:8px}.sidebar-menu .main-menu{padding-left:60px;margin-top:80px}.logo h1{font-size:20px}.gsc-input-box,.gsc-input-box-focus,.gsc-input-box-hover,input.gsc-input{border-color:#38444d;background:0 0!important;color:#ebebeb;font-size:14px!important}.gsc-adBlock{display:none!important;border-bottom:1px solid #38444d!important}.gsc-result-info{color:#9aa0a6!important}.gsc-orderby-label{color:#9aa0a6!important}.gsc-selected-option-container{background-color:#273340!important;color:#ebebeb!important}div#gsc-iw-id1{border-radius:12px;height:36px}#gsc-i-id1::placeholder{color:#ebebeb!important}#gsc-i-id2::placeholder{color:#ebebeb!important}input#gsc-i-id1{margin-left:-5px!important;padding-left:30px!important;width:105%!important}a.gsst_a:before{content:'\f057';font-family:'Font Awesome 6 Free';font-weight:900;color:#ebebeb;position:absolute;right:15px;top:1px}span#gs_cb50,span#gs_cb51{display:none}a.gsst_a:hover:before{color:#76b4ff}.footer .title{font-size:15px;font-weight:700;line-height:1.5}.footer .social-icon{padding:0;margin:0}.footer .social-icon a{display:inline-block;font-size:23px;padding:0 5px}.footer .acount-icon a{display:block;font-size:14px;padding:1px 5px;text-decoration:none}.foot-block{text-align:center;padding:10px 0 20px;font-size:14px}.bloq{--bs-gutter-x:-2.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:18px;margin-right:calc(var(--bs-gutter-x)/-2);margin-left:calc(var(--bs-gutter-x)/-2)}.footer{width:93%;margin:60px auto 0;max-width:1240px}@media (min-width:992px){.footer-mobile{display:none}.down-footer{margin:0 auto}.bloq-3{flex:0 0 auto;width:20%}.flex-2{flex-basis:35%;flex-grow:1;flex-shrink:1;margin-right:30px;font-size:14px}}
</style>
</head>
<body class="page-body">
<nav class="navbar navbar-expand-lg bg-info navbar-dark fixed-top">
<div class="container">
<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
<i class="fa-bars"><img src="https://www.subarist.net/assets/favicon-3zw7clrx.png" class="mobile-logo"></i></button><span class="mobile-title">資源導航<i aria-hidden="true" style="font-size:14px;padding-left:7px;" class="icon fa-solid fa-sort mobile-nav"></i></span>
<a href="https://www.subarist.net" class="nav-link mobile-back" style="font-size:20px;position:fixed;top:1px;right:0px;display: none;"><i aria-hidden="true"  class="icon  fa-solid fa-arrow-right-from-bracket"></i></a>

<div class="overlay"></div> 

<div class=" collapse navbar-collapse " id="navbarSupportedContent">
<a class="navbar-brand" href="#" id="home-link"><img src="https://www.subarist.net/assets/logo-yzli5vki.png" alt="logo" class="Header-logo"></a>
<ul class="navbar-nav mr-auto">
<li class="nav-item">
<a class="nav-link mobile-home" href="https://www.subarist.net"><i aria-hidden="true" style="font-size:14px;padding-right:2px;" class="icon  fa-solid fa-house mobile-icon"></i><span class="LinksButton-title">HOME</span></a>
</li>
<li class="nav-item">
<a class="nav-link mobile-blog" href="https://www.subarist.net/blog"><i aria-hidden="true" style="font-size:14px;padding-right:2px;" class="icon fa-solid fa-blog mobile-icon"></i><span class="LinksButton-title">BLOG</span></a>
</li>
<li class="nav-item">
<a class="nav-link mobile-add" href="https://github.com/efast1568/links/issues" target="_blank"><i aria-hidden="true" class="icon  fa-solid fa-user-plus mobile-icon"></i><span class="tooltip-blue">申請連結</span></a>
</li>
<li class="nav-item dropdown active">
<i class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button"><i aria-hidden="true" class="icon  fa-solid fa-link mobile-icon"></i><span class="LinksButton-title">LINK &nbsp;</span></i>
<ul class="dropdown-menu">
<li>
<a class="smooth" href="#最新上架"><i class="fa-folder-plus mobile-icon"></i> <span class="title">最新上架</span></a>
</li>
<li>
<a class="smooth" href="#官方網站"><i class="fa-globe mobile-icon"></i> <span class="title">官方網站</span></a>
</li>
<li>
<a class="smooth" href="#網路資源"><i class="fa-discord mobile-icon"></i> <span class="title">網路資源</span></a>
</li>
<li>
<a class="smooth" href="#社群媒體"><i class="fa-icons mobile-icon"></i> <span class="title">社群媒體</span></a>
</li>
<li>
<a class="smooth" href="#部落格"><i class="fa-blogger mobile-icon"></i> <span class="title">部落格</span></a>
</li>
<li>
<a class="smooth" href="#Flarum"><i class="fa-code mobile-icon"></i> <span class="title">Flarum</span></a>
</li>
</ul>
</li>
</ul>
<form >
    <div class="gcse-searchbox"></div>
</form>
<button id="switchStyleButton"></button>
</nav>
    <!-- skin-white -->
    <div class="page-container">
        <div class="sidebar-menu toggle-others fixed">
            <div class="sidebar-menu-inner">
                <ul id="main-menu" class="main-menu">
                    {{#each categories}}
                    {{#unless hide_menu}}
                    <li>
                        {{#if categories}}
                        <a>
                            <i class="{{icon}}"></i>
                            <span class="title">{{category}}</span>
                        </a>
                        <ul>
                            {{#each categories}}
                            {{#unless hide_menu}}
                            <li>
                                <a href="#{{category}}" class="smooth">
                                    <span class="title">{{category}}</span>
                                    {{#if label}}
                                    <span class="label label-pink pull-right hidden-collapsed">{{label}}</span>
                                    {{/if}}
                                </a>
                            </li>
                            {{/unless}}
                            {{/each}}
                        </ul>
                        {{else}}
                        <a href="#{{category}}" class="smooth">
                            <i class="{{icon}}"></i>
                            <span class="title">{{category}}</span>
                        </a>
                        {{/if}}
                    </li>
                    {{/unless}}
                    {{/each}}
                    {{#if link_exchange_url}}
                    <li>
                        <a href="{{link_exchange_url}}" target="_blank">
                            <i class="fa-user-plus"></i>
                            <span class="tooltip-blue">申請連結</span>
                            <span class="label label-Primary pull-right hidden-collapsed"><i class="fa-caret-down"></i></span>
                        </a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
        <div class="main-content">
        <div class="gcse-searchresults"></div>
<div class="gcse-search"></div>
</br>
            {{#*inline "tagPartial"}}
            <!-- {{category}} -->
            <h4 class="text-gray"><i class="fa-cloudscale" style="margin-right: 7px;" id="{{category}}"></i>{{category}}</h4>
            <div class="row">
                {{#each links}}
                <div class="col-sm-5">
                    <div class="xe-widget xe-conversations box2 label-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{#if display_url}}{{{display_url}}}{{else}}{{{url}}}{{/if}}">
                        <div class="xe-comment-entry">
                            <a href="{{url}}" class="xe-user-img" target="_blank">
                                <img data-src="{{logo}}" class="lozad img-circle" width="40" alt="{{title}}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                            </a>
                            <div class="xe-comment">
                                <a href="{{url}}" class="xe-user-name overflowClip_1" target="_blank">
                                    <strong>{{title}}</strong>
                                </a>
                                <p class="overflowClip_2">{{description}}</p>
                                {{#if tags}}<p class="overflowClip_3">#{{join (split tags ',') ' #'}}</p>{{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <br />
            <!--END {{category}} -->
            {{/inline}}

            {{#each categories}}
            {{#if categories}}
                {{#each categories}}
                    {{~> tagPartial category=category links=links}}
                {{/each}}
            {{else}}
                {{~> tagPartial category=category links=links}}
            {{/if}}
            {{/each}}
                </div>
<footer class="footer">
<div class="footer-mobile">
<div class="bloq">
<div class=" flex-2">
<h2 class="title">SUBARIST.NET</h2>
<p>基於Flarum，一個優雅的輕論壇軟件，簡約界面回歸討論區本質。在這裡你可以談天說地，可以在最短的時間收集靈感，讓在線交流變得更加輕鬆愉快。集成LTC / TIC / TIFC資源，以供先輩後人追思與懷念。</p>
<ul class="social-icon">
<a href="https://www.facebook.com/p2000.impreza" target="_blank" class="social"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
<a href="https://twitter.com/KaiYang86975520" target="_blank" class="social"><i class="fab fa-twitter" aria-hidden="true"></i></a>
<a href="https://www.instagram.com/efast1568/" target="_blank" class="social"><i class="fab fa-instagram" aria-hidden="true"></i></a>
</ul></br>
</div>
<div class="bloq-3">
<h2 class="title">關於我們</h2>
<span class="acount-icon">
<a href="https://www.subarist.net/p/2-about"><i class="fas fa-file" aria-hidden="true"></i> 網站沿革</a>
<a href="https://www.subarist.net/p/1-privacy"><i class="fas fa-file" aria-hidden="true"></i> 隱私條款</a>
</span></br>
</div>
<div class="down-footer">
<div class="foot-block">
<span class="texto-centro">© 2004-2023&emsp;Some About Taiwan Subaru.</span>
</div>
</div>
</div>
</div>
</footer >            
        </div>
        <footer class="footer">
<div class="footer-table">
<div class="bloq">
<div class=" flex-2">
<h2 class="title">SUBARIST.NET</h2>
<p>基於Flarum，一個優雅的輕論壇軟件，簡約界面回歸討論區本質。在這裡你可以談天說地，可以在最短的時間收集靈感，讓在線交流變得更加輕鬆愉快。集成LTC / TIC / TIFC資源，以供先輩後人追思與懷念。</p>
<ul class="social-icon">
<a href="https://www.facebook.com/p2000.impreza" target="_blank" class="social"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
<a href="https://twitter.com/KaiYang86975520" target="_blank" class="social"><i class="fab fa-twitter" aria-hidden="true"></i></a>
<a href="https://www.instagram.com/efast1568/" target="_blank" class="social"><i class="fab fa-instagram" aria-hidden="true"></i></a>
</ul>
</div>
<div class="bloq-3">
<h2 class="title">關於我們</h2>
<span class="acount-icon">
<a href="https://www.subarist.net/p/2-about"><i class="fas fa-file" aria-hidden="true"></i> 網站沿革</a>
<a href="https://www.subarist.net/p/1-privacy"><i class="fas fa-file" aria-hidden="true"></i> 隱私條款</a>
</span>
</div>
<div class="bloq-3">
<h2 class="title">友站連結</h2>
<span class="acount-icon">
<a href="https://www.motor-uncle.net/" target="_blank"><i class="fas fa-link" aria-hidden="true"></i> 阿北的機器世界</a>
<a href="https://www.facebook.com/%E5%8B%81%E5%A8%81%E5%87%B9%E7%97%95%E9%85%92%E7%AA%A9%E4%BF%AE%E5%BE%A9-103601814313374" target="_blank"><i class="fas fa-link" aria-hidden="true"></i> 勁威凹痕酒窩修復</a>
</span>
</div>
<div class="bloq-3">
<h2 class="title">資源分享</h2>
<span class="acount-icon">
<a href="https://discuss.flarum.org/" target="_blank"><i class="fas fa-code" aria-hidden="true"></i> Flarum Community</a>
<a href="https://github.com/flarum-lang/chinese-traditional" target="_blank"><i class="fas fa-code" aria-hidden="true"></i> Github Flarum 正體中文計劃</a>
<a href="https://discuss.flarum.org.cn/" target="_blank"><i class="fas fa-code" aria-hidden="true"></i> Flarum 中文社區</a>
</span>
</div>
<div class="down-footer">
<div class="foot-block">
<span class="texto-centro">© 2004-2023&emsp;Some About Taiwan Subaru.</span>
</div>
</div>
</div>
</footer >
<button onclick="scrollToTop()" class="scroll-top"><i class="fas fa-angle-double-up" id="dblArrowUp"></i></button>
<button onclick="scrollToBottom()" class="scroll-bottom"><i class="fas fa-angle-double-down" id="dblArrowDown"></i></button>
<link href="https://www.subarist.net/assets/subarist-link-light.css" rel="stylesheet" id="subaristLinkLightStylesheet" disabled>
  <script>
  // 獲取按鈕和樣式表
const switchStyleButton = document.getElementById("switchStyleButton");
const subaristLinkStylesheet = document.getElementById("subaristLinkStylesheet");
const subaristLinkLightStylesheet = document.getElementById("subaristLinkLightStylesheet");
// 獲取Cookie中存儲的樣式
let currentStyle = getCookie("subaristStyle");
if (!currentStyle) {
  // 如果Cookie中不存在樣式，則使用第一個樣式表
  currentStyle = "link";
  setCookie("subaristStyle", currentStyle, 365);
}

// 根據當前樣式更新按鈕文本和樣式表
updateButtonAndStyles(currentStyle);

// 為按鈕添加點擊事件處理程序
switchStyleButton.addEventListener("click", function() {
  // 根據當前樣式切換到另一個樣式
  currentStyle = currentStyle === "link" ? "link-light" : "link";
  setCookie("subaristStyle", currentStyle, 365);
  
  // 更新按鈕文本和樣式表
  updateButtonAndStyles(currentStyle);
});

// 更新按鈕文本和樣式表
function updateButtonAndStyles(style) {
  // 更新按鈕文本
  switchStyleButton.innerHTML = style === "link" ? '<a><i class="far fa-moon mobile-icon"></i><span ">切換日夜模式</span></a>' : '<a><i class="icon far fa-sun mobile-icon"></i><span >切換日夜模式</span></a>';
  
  // 更新樣式表
  if (style === "link") {
    subaristLinkStylesheet.disabled = false;
    subaristLinkLightStylesheet.disabled = true;
  } else {
    subaristLinkStylesheet.disabled = true;
    subaristLinkLightStylesheet.disabled = false;
  }
}

// Cookie相關函數
function setCookie(name, value, days) {
  const date = new Date();
  date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
  const expires = "; expires=" + date.toGMTString();
  document.cookie = name + "=" + value + expires + "; path=/";
}

function getCookie(name) {
  const nameEQ = name + "=";
  const ca = document.cookie.split(';');

   for (let i = 0; i < ca.length; i++) {
let c = ca[i];
while (c.charAt(0) === " ") {
c = c.substring(1, c.length);
}
if (c.indexOf(nameEQ) === 0) {
return c.substring(nameEQ.length, c.length);
}
}
return null;
}
</script>
<script type="text/javascript">
	         $(document).ready(function() {
	              //img lazy loaded
	              const observer = lozad();
	              observer.observe();

	             $(document).on('click', '.has-sub', function(){
	                 var _this = $(this)
	                 if(!$(this).hasClass('expanded')) {
	                    setTimeout(function(){
	                         _this.find('ul').attr("style","")
	                    }, 300);

	                 } else {
	                     $('.has-sub ul').each(function(id,ele){
	                         var _that = $(this)
	                         if(_this.find('ul')[0] != ele) {
	                             setTimeout(function(){
	                                 _that.attr("style","")
	                             }, 300);
	                         }
	                     })
	                 }
	             })

	             $("#main-menu li ul li").click(function() {
	                 $(this).siblings('li').removeClass('active'); // 删除其他兄弟元素的样式
	                 $(this).addClass('active'); // 添加当前元素的样式
	             });
	             $("a.smooth").click(function(ev) {
	                 ev.preventDefault();

	                 var offset = $(".mobile-menu-toggle").is(":visible") ? 90 : 25;

	                 public_vars.$mainMenu.add(public_vars.$sidebarProfile).toggleClass('mobile-is-visible');
	                 ps_destroy();
	                 $("html, body").animate({
	                     scrollTop: $($(this).attr("href")).offset().top - offset
	                 }, {
	                     duration: 500,
	                     easing: "swing"
	                 });
	             });
	             return false;
	         });

	         var href = "";
	         var pos = 0;
	         $("a.smooth").click(function(e) {
	             $("#main-menu li").each(function() {
	                 $(this).removeClass("active");
	             });
	             $(this).parent("li").addClass("active");
	             e.preventDefault();
	             href = $(this).attr("href");
	             pos = $(href).position().top  - 30 ;
	         });
	         // 卡片点击
	         $(".xe-widget.xe-conversations a").on('click', function(e){
	           // 禁止 a 标签的默认点击事件，用 card 的点击事件代替
	           e.preventDefault();
	         });
	         $(".xe-widget.xe-conversations").on('click', function(e){
	           e.preventDefault();
	           // 禁止 a 标签的默认点击事件，用 card 的点击事件代替
	           var url = $("a", this).attr("href");
	           if (url) {
	             window.open(url, "_blank");
	           }
	         });
			 
			 			 //點擊後關閉菜單 
$(function(){ 
     var navMain = $(".navbar-collapse");
     navMain.on("click", "a", null, function () {
         navMain.collapse('hide');
		 $('.overlay').removeClass('active');
     });
 });
                         // 一鍵置頂/置底 
 $(function(){ 
     var navMain = $(".navbar-collapse");
     navMain.on("click", "a", null, function () {
         navMain.collapse('hide');
		 $('.overlay').removeClass('active');
     });
 });

$(function(){ 
     var navMain = $(".navbar-collapse");
	    $('.overlay').on('click', function() {
       navMain.collapse('hide');
	   $('.overlay').removeClass('active');
    });

 });
jQuery(document).ready(function() {

     $('.navbar-toggler').on('click', function(e) {
        e.preventDefault();
        $('.overlay').addClass('active');
    });

});
                     // 一鍵置頂/置底
	         function scrollToTop() {
	               window.scrollTo({
	               top: 0,
	               behavior: "smooth",
	             });
	          }
	         function scrollToBottom() {
	               window.scrollTo({
	               left: 0,
	               top: document.body.scrollHeight,
	               behavior: "smooth",
	             });
	         }
	         $(window).scroll(function () {
	             if ($(window).scrollTop() > 0 ) {
				 	                 $("nav.navbar").css('box-shadow', '0 2px 6px rgb(0 0 0 / 50%)'); 
	                 $(".scroll-top").show();
	                 $(".scroll-bottom").show();

	             }
	             else if ($(window).scrollTop() == 0  ) {
				 $("nav.navbar").css('box-shadow', 'none');
	                 $(".scroll-top").hide();
	                 $(".scroll-bottom").hide();
                 }
	          });      	
	$("#home-link").click(function(ev) {
    ev.preventDefault();
    $("html, body").animate({ scrollTop: 0 }, "slow");
});
	</script>
<script>
window.onload = function() {
  // Set the placeholder text for the search input fields
  document.getElementById('gsc-i-id1').placeholder = 'Search by Google';
  document.getElementById('gsc-i-id2').placeholder = 'Search by Google';
  // Add the "fa fa-search" icon before the search input fields
  var searchIcon = document.createElement('i');
  searchIcon.className = 'fa fa-search mobile-icon';
  searchIcon.style.position = 'relative';
  searchIcon.style.top = '-25px';
  searchIcon.style.left = '12px';
  document.getElementById('gsc-iw-id1').appendChild(searchIcon);
  document.getElementById('gsc-iw-id2').appendChild(searchIcon.cloneNode());
};
</script>
    <!-- Bottom Scripts -->
<script async src="https://cse.google.com/cse.js?cx=04e55153283a64375"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/pzwd-net/webstack-assets@main/js/xenon-custom.js"></script>
<script src="https://cdn.jsdelivr.net/gh/pzwd-net/webstack-assets@main/js/lozad.js"></script>
    {{#if ga_tracking_code_id}}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ga_tracking_code_id}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ga_tracking_code_id}}');
    </script>
    {{/if}}
</body>
</html>
